
.menu_logo {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

ul {
    list-style: none;
    display: flex;
}

ul li a {
    color: #163269;
    text-decoration: none;
}

ul li {
    margin-left: 30px;
    margin-right: 20px;
}

ul li a:hover {
    color: rgb(65, 200, 133);
}

ul li:nth-child() a {
    color: rgb(65, 200, 133);
}
.logo {
        width: 12%;
    }
    .banner {
        background-image: linear-gradient(#bdaeae25 20%, rgba(0, 60, 255, 0.274) 50%) , url(./Asset/image/image-contact.jpeg);
        
        height: 1000px;
        background-size:cover;
    }

    .background {
        width: 100%;
        position: relative;
        background-color: #161616;
        height: 348.4px;
        overflow: hidden;
  }

  .background-formulaire{
    background-color:#c0bcbc ;
  }
  
  .formulaire {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px;
    margin-left: 450px;
    background-color: #c0bcbc;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 8px;
    margin-left: 50px;
}

input, textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.smart-kids-academy {
    position: absolute;
    top: 33px;
    left: calc(50% - 640px);
    line-height: 25.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 451.3px;
    height: 25.5px;
}


.link-icon {
    position: absolute;
    top: 38px;
    left: calc(50% + 503.94px);
    width: 15.8px;
    height: 19px;
}
.link-icon1 {
    position: absolute;
    top: 38px;
    left: calc(50% + 539.78px);
    width: 21.3px;
    height: 19px;
}
.link-icon2 {
    position: absolute;
    top: 38px;
    left: calc(50% + 581.06px);
    width: 22.6px;
    height: 19px;
}
.link-icon3 {
    position: absolute;
    top: 38px;
    left: calc(50% + 623.7px);
    width: 16.3px;
    height: 19px;
}
    

.container7 {
    position: absolute;
    top: 0px;
    left: calc(50% - 680px);
    width: 1360px;
    height: 99.5px;
}
.footer {
    position: absolute;
    width: 100%;
   
    right: 0px;
    left: 0px;
    background-color: #202020;
    height: 99.5px;
    font-size: 15px;
    color: #838383;
}


.custom-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 400px;
}

.custom-popup h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.custom-button {
    background-color: #0A3D53;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.custom-button:hover {
    background-color: #08313E;
}
